<!-- <form action='/links' method='POST'>
  <div>
    Title<input type='text' name='title'>
    URL<input type='text' name='url'>
    <input type='submit' value='submit'>
  </div>
</form> -->
<form action='/links/new'>
  <div>
    <input type='submit' value='add_new_link'>
  </div>
</form>
