<form action='/links' method='POST'>
  <div>
    <label for='title'>Title</label>
    <input type='text' name='title' id='title'>
    <label for='url'>URL</label>
    <input type='text' name='url' id='url'>
    <label for='tag'>Tag</label>
    <input type='text' name='tag' id='tag'>
    <input type='submit' value='submit'>
  </div>
</form>
